# تفعيل الـ Rewrite Engine
RewriteEngine On

# نخلي الصفحة الرئيسية ar/index.html تفتح مباشرة من الروت
DirectoryIndex ar/index.html

# نخفي .html من كل الروابط
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]
