@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
:root {
    --main-color: #53a951;
    --second-color: #1e1f1e;
}

header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--second-color);
    padding: 15px 30px;
    animation: fadeInDown 2s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.logo-roaya img {
    height: 50px;
    transition: transform 0.3s ease;
    border-radius: 15px;
}

.logo-roaya img:hover {
    transform: scale(1.1) rotate(-360deg);
}

.logo-roaya>a {
    text-decoration: none;
    color: var(--main-color);
}

header>ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

header>ul li:not(#dropdown-menu-item) {
    position: relative;
    list-style: none;
    height: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

header>ul li:not(#dropdown-menu-item)::after,
header>ul li:not(#dropdown-menu-item).active::after {
    content: '';
    position: absolute;
    bottom: -15px;
    left: 0;
    width: 0;
    height: 5px;
    background-color: var(--main-color);
    transition: width 0.3s ease;
}

header>ul li:not(#dropdown-menu-item).active::after {
    width: 100%;
    background-color: var(--main-color);
    transition: width 0.3s ease;
}

header>ul li:not(#dropdown-menu-item):hover::after {
    width: 100%;
}

header>ul li:not(#dropdown-menu-item) a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 15px;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    opacity: 0;
    animation: slideIn 0.5s forwards;
}

header>ul li:not(#dropdown-menu-item).active a,
header>ul li:not(#dropdown-menu-item):hover a {
    color: var(--main-color);
    transform: translateY(-5px);
    text-decoration: none;
}

header>ul li:not(#dropdown-menu-item):nth-child(1) a {
    animation-delay: 0.1s;
}

header>ul li:not(#dropdown-menu-item):nth-child(2) a {
    animation-delay: 0.2s;
}

header>ul li:not(#dropdown-menu-item):nth-child(3) a {
    animation-delay: 0.3s;
}

header>ul li:not(#dropdown-menu-item):nth-child(4) a {
    animation-delay: 0.4s;
}

header>ul li:not(#dropdown-menu-item):nth-child(5) a {
    animation-delay: 0.5s;
}

header>ul li:not(#dropdown-menu-item):nth-child(6) a {
    animation-delay: 0.6s;
}

header>ul li:not(#dropdown-menu-item):nth-child(7) a {
    animation-delay: 0.7s;
}

header>ul li:not(#dropdown-menu-item):nth-child(8) a {
    animation-delay: 0.8s;
}

header>ul li:not(#dropdown-menu-item):nth-child(9) a {
    animation-delay: 0.9s;
}

header>ul li:not(#dropdown-menu-item):nth-child(10) a {
    animation-delay: 0.10s;
}

.btn-open-menu {
    display: none;
    cursor: pointer;
    color: #fff;
    font-size: 30px;
    position: relative;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 1040px) {
    header ul {
        display: none;
    }
    .logo-roaya>a {
        display: none;
    }
    .btn-open-menu {
        display: block;
    }
}

header>a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
}

header>div {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

header>div>button {
    width: fit-content;
    height: auto;
    background-color: var(--main-color);
    border-radius: 7px;
    color: var(--second-color);
    font-size: 15px;
    border: none;
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    padding: 5px 10px;
    cursor: pointer;
}

header>div>button a {
    text-decoration: none;
    color: var(--second-color);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 220px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    top: 100%;
    right: 0;
    animation: fadeIn 0.3s ease-in-out;
}

.dropdown-content a {
    color: #003366;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}

.dropdown-content a:hover {
    background-color: #f0f0f0;
    color: #0077cc;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#services-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


/* -----  join us ------ */

.button-join {
    height: 50px;
    width: 130px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.button-join:hover {
    box-shadow: .5px .5px 150px #252525;
    border: none;
}

.type1::after {
    content: "Open";
    height: 50px;
    width: 130px;
    background-color: var(--second-color);
    color: var(--main-color);
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(50px);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    font-family: "Cairo", sans-serif;
}

.type1::before {
    content: "Join Us";
    height: 50px;
    width: 130px;
    background-color: var(--main-color);
    color: var(--second-color);
    position: absolute;
    top: 0%;
    left: 0%;
    transform: translateY(0px) scale(1.2);
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    font-family: "Cairo", sans-serif;
}

.type1:hover::after {
    transform: translateY(0) scale(1.2);
}

.type1:hover::before {
    transform: translateY(-50px) scale(0) rotate(120deg);
}