* {
    box-sizing: border-box;
}

.cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.card {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0 13px 2px rgba(0, 0, 0, 0.295);
    width: 260px;
    text-align: center;
    padding: 15px;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 13px 5px rgba(0, 0, 0, 0.180);
}

.card img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.card h3 {
    font-size: 20px;
    margin: 0 0 5px 0;
    color: #333;
}

.card p {
    color: #777;
    margin-bottom: 15px;
    font-size: 14px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.social-icons a {
    color: #53a951;
    font-size: 18px;
    transition: color 0.3s;
}

@media (max-width: 1460px) {
    .card-container {
        flex-direction: column !important;
        padding-top: 80px !important;
    }
}